*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

input
{
    text-decoration: none;
    outline: none;
}

.container
{
    top: 50%;
    left: 50%;
    margin: 0 auto;
    border: 4px solid green;
    width: 900px;
    height: 1000px;
    background-color:rgba(241, 250, 241, 1);
}

.cad-geral
{
    border: 3px solid lightgreen;
    width: 90%;
    height: 700px;
    left: 50%;
    top: 350px;
    margin: 0 auto;
}

.cad-geral h1
{
    position: absolute;
    top: 1%;
    left: 30%;
    font-size: small;
    border: 1px solid green;
    background-color: white;
    color: green;
}

.dados-pessoais
{
    position: relative;
    top: 5%;
    left: 2%;
    border: 2px solid lightgreen;
    font-size: small;
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.dados-pessoais h2
{
    position: absolute;
    border: 1px solid green;
    font-size: small;
    background-color: #fff;
    color: green;
    width: 100px;
    top: 1%;
}

.dados-pessoais label
{
    position: relative;
    top: 40px;
}

.dados-pessoais input
{
    position: relative;
    top: 40px;
    left: 0px;
    width: 150px;
}

.dados-pessoais select
{
    position: relative;
    width: 150px;
    top: 40px;
}

select
{
    background-color: #FFF;
    margin: 1px solid #000;
}

.loc
{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    border: 2px solid lightgreen;

    position: relative;
    left: 55%;
    top: -125px;
}

.loc h2
{
    font-size: small;
    color: green;
    background-color: white;
    border: 1px solid green;
    width: 120px;
    position: absolute;
    top: -5px;
    left: 4%;
}

.loc input
{
    position: relative;
    width: 300px;
    top: 8%;
}

.loc label
{
    position: relative;
    top: 8%;
}

.faixa
{
    position: relative;
    border: 2px solid lightgreen;
    width: 700px;
    height: 150px;
    left: 5%;
    top: -110px;
    display: flex;
    flex-direction: column;
}

.faixa h2
{
    position: absolute;
    font-size: small;
    background-color: white;
    color: green;
    border: 1px solid green;
    width: 120px;
    top: -4%;
    left: 3%;
}

.tres-primeiros
{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 20%;
}

.tres-primeiros input
{
    position: relative;
    left: -55%;
    top: -15%;
}

.tres-ultimos
{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 70%;
    top: -45%;
}

.tres-ultimos input
{
    position: relative;
    left: -55%;
    top: -15%;
} 

.pratica
{
    position: relative;
    border: 2px solid lightgreen;
    width: 700px;
    height: 300px;
    left: 5%;
    top: -12%;
    display: flex;
    flex-direction: column;
}

.pratica h2
{
    position: absolute;
    font-size: small;
    background-color: white;
    color: green;
    border: 1px solid green;
    width: 150px;
    top: -3%;
}

.pratica label
{
    position: relative;
    left: 15%;
    top: 10%;
}

.pratica input
{
    position: relative;
    left: -40%;
    top: 16%;
}

.comentarios
{
    position: relative;
    top: 0%;
    width: 800px;
    height: 200px;
    border: 2px solid lightgreen;
}

.comentarios h2
{
    position: absolute;
    top: -6%;
    left: 1%;
    font-size: small;
    border: 1px solid green;
    background-color: white;
    color: green;
}

.comentarios label
{
    position: relative;
    top: -40%;
    left: 5%;
    font-size: small;
    color: green;
}

textarea
{
    position: relative;
    width: 400px;
    height: 100px;
    top: 15%;
    left: -1%;
    outline: none;
}

#btn-env 
{
    position: absolute;
    top: 100%;
    left: 32%;
    cursor: pointer;
}

#btn-lim
{
    position: absolute;
    top: 100%;
    left: 35%;
    cursor: pointer;
}
